/* Generali */
body {
font-family: 'Roboto', sans-serif;
}

[class*="col-"] {
  position: relative;
}

.container [class*="col-"] {
  background-color: pink;
  border: 1px solid black;
  height: 200px;
}

.container [class*="col-"] > .container {
  padding: 5px;
}

.container [class*="col-"] > .container [class*="col-"]{
  background-color: #f07f80;
  border: 1px solid white;
  height: 190px;
}

p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* fine generali */
